@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  user-select: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background: #fff;
}

.logo {
  margin: 20px 0 40px 20px;
  align-items: center;
  display: flex;
  transition: all 0, 5s ease;
}
.logo img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  right: 50px;
}

.logo span {
  text-align: center;
  white-space: nowrap;
  color: #4b4b4b;
  margin-left: 20px;
  font-weight: 700;
  font-size: 17px;
}
nav a {
  text-decoration: none;
  color: #4b4b4b;
  font-size: 15px;
  width: 300px;
  padding: 10px;
  position: relative;
  display: table;
  font-family: "montserrat";
  font-weight: 600;
}
nav {
  z-index: 10000;
  border-top-right-radius: 20px;
  outline: none;
  text-decoration: none;
  background: #d8f3dc;
  font-family: "Montserrat";
  height: 100vh;
  width: 90px;
  position: absolute;
  transition: width 0.2s linear;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.logout {
  bottom: 5px;
  position: absolute;
}
nav i {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-lists {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
nav a:hover {
  transition: all 0.1s ease;
  background: linear-gradient(to right, #95d5b2, transparent);
  color: #4b4b4b;
  color: white;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
nav:hover {
  width: 260px;
  transition: all 0.5s ease;
}
.active i {
  color: white;
}
ul .list-items .active i::after {
  width: 8px;
}
ul .list-items i::after {
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  width: 0px;
  height: 75%;
  transform: translateY(-50%);
  background-color: #2d6a4f;
  border-radius: 5px;
}
ul .list-items:hover i::after {
  width: 8px;
  transition: 0.3s;
}
.container {
  display: flex;
}
.main-content {
  height: 100vh;
  position: relative;
  width: 100%;
  padding: 30px;
  margin-left: 90px;
}
.header-logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  bottom: 15px;
}
.header-logo .text-logo {
  position: relative;
  font-family: "poppins";
  align-items: center;
  justify-content: center;
}
.header-logo .text-logo span {
  font-size: 30px;
  color: #95d5b2;
}
.header-logo .text-logo {
  font-size: 13px;
  font-weight: 500;
  color: #4b4b4b;
}
.header-logo .text-logo p {
  letter-spacing: 3px;
}
.header-logo .create-schedule button i {
  margin-right: 3px;
}
.header-logo .create-schedule button {
  cursor: pointer;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  background-color: #74c69d;
  font-size: 1em;
  color: #fff;
  font-weight: 400;
  font-family: "poppins";
  transition: all 0.3s ease;
  position: relative;
  border: 1px solid #74c69d;
}
.header-logo .create-schedule button:hover {
  background-color: rgb(116, 198, 157, 0.8);
  border: 1px solid #4b4b4b;
}
/* header info */
.infos-container {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
.infos-container .infos-wrapper {
  height: 150px;
  width: 200px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  font-family: "montserrat";
  overflow: hidden;
  transition: 0.3s;
}
.infos-container .infos-wrapper:hover {
  box-shadow: 0 5px 60px rgba(0, 0, 0, 0.2);
}
.infos-container img {
  height: 80px;
  float: right;
  position: relative;
  bottom: 10px;
}
.infos-container .infos-wrapper .info {
  font-size: 40px;
  font-weight: 600;
  color: #4b4b4b;
  position: relative;
  left: 30px;
  top: 25px;
}
.infos-container .infos-wrapper .info-title {
  margin: 10px 0 0 15px;
  position: relative;
  font-size: 15px;
}
.infos-container .infos-wrapper .info-title:hover i {
  display: contents;
}
.infos-container .infos-wrapper .info-title i {
  display: none;
  color: #747474;
}
.infos-container .infos-wrapper .info-title a {
  text-decoration: none;
  color: #081c15;
}
/* calendar */
