@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:wght@300&display=swap");
* {
  user-select: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  background: #fff;
}

.logo {
  margin: 20px 0 40px 20px;
  align-items: center;
  display: flex;
  transition: all 0, 5s ease;
}
.logo img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  right: 50px;
}

.logo span {
  text-align: center;
  white-space: nowrap;
  color: #4b4b4b;
  margin-left: 20px;
  font-weight: 700;
  font-size: 17px;
}
nav a {
  text-decoration: none;
  color: #4b4b4b;
  font-size: 15px;
  width: 300px;
  padding: 10px;
  position: relative;
  display: table;
  font-family: "montserrat";
  font-weight: 600;
}
nav {
  z-index: 10000;
  border-top-right-radius: 20px;
  outline: none;
  text-decoration: none;
  background: #d8f3dc;
  font-family: "Montserrat";
  height: 100vh;
  width: 90px;
  position: absolute;
  transition: width 0.2s linear;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.logout {
  bottom: 5px;
  position: absolute;
}
nav i {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-lists {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
nav a:hover {
  transition: all 0.1s ease;
  background: linear-gradient(to right, #95d5b2, transparent);
  color: #4b4b4b;
  color: white;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
nav:hover {
  width: 260px;
  transition: all 0.5s ease;
}
.active i {
  color: white;
}
ul .list-items .active i::after {
  width: 8px;
}
ul .list-items i::after {
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  width: 0px;
  height: 75%;
  transform: translateY(-50%);
  background-color: #2d6a4f;
  border-radius: 5px;
}
ul .list-items:hover i::after {
  width: 8px;
  transition: 0.3s;
}
.container {
  display: flex;
}
.main-content {
  position: relative;
  width: 100%;
  padding: 20px;
  margin-left: 100px;
}
.main-content .main-logo {
  font-family: "montserrat";
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  color: #4b4b4b;
}
.main-content .main-logo i {
  right: 0;
  position: absolute;
  margin: 10px 30px;
  cursor: pointer;
}
.main-content .main-logo span {
  color: #95d5b2;
  font-size: 30px;
  text-shadow: 0 5px 20px rgba(216, 243, 220, 0.5);
}
.main-content .inputs {
  margin-top: 60px;
  border-radius: 30px;
  width: 100%;
  display: flex;
  position: relative;
  height: 40%;
}
.main-content .inputs input {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  font-family: "montserrat";
  font-size: 13px;
  padding: 10px 15px;
  width: 250px;
  height: 33px;
  border-radius: 10px;
  border: 0.5px solid #dddddd;
}
.inputs input:focus {
  border: 1px solid #74c69d;
}
.main-content form {
  display: flex;
  align-items: center;
  width: 100%;
}
.main-content .subject-code .subj-code {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.main-content .inputs span {
  margin-left: 5px;
  font-size: 13px;
  font-family: "montserrat";
}
.main-content .yrlvl-gradelvl .year-level {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.main-content .yrlvl-gradelvl {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.inputs .dropdown-gradelvl {
  position: relative;
  width: 200px;
  height: 35px;
  margin-bottom: 50px;
}
.dropdown-gradelvl .input-info {
  position: relative;
  bottom: 20px;
}
.inputs .dropdown-gradelvl input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 10px 15px;
  font-size: 13px;
}
.dropdown-gradelvl.activeShowGLevel .option-grade {
  display: block;
}
.dropdown-gradelvl .option-grade {
  position: absolute;
  display: none;
  top: 50px;
  width: 60%;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  color: #4b4b4b;
  z-index: 100;
  border: 0.5px solid #dddddd;
}
.inputs .dropdown-gradelvl .option-grade div {
  font-family: "montserrat";
  font-size: 14px;
  padding: 10px 15px;
}
.inputs .dropdown-gradelvl .option-grade div:hover {
  background-color: #74c69d;
  color: #fff;
}
.dropdown-gradelvl .icon-down {
  align-items: center;
  justify-content: center;
  display: flex;
  left: 165px;
  top: 8px;
  transition: all 0.3s ease;
  position: absolute;
  height: 20px;
  width: 20px;
}
.dropdown-gradelvl.activeShowGLevel .icon-down {
  transform: rotate(180deg);
}
button {
  border: none;
  background: #fff;
}
.button-submit button {
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 5px 30px;
  color: #2d6a4f;
}
.btn-submit {
  top: 65px;
  font-size: 15px;
  font-weight: 600;
  font-family: "poppins";
  align-items: center;
  position: absolute;
}
button.btn-submit {
  color: rgba(45, 106, 79, 0.6);
  box-shadow: rgba(45, 106, 79, 0.4) 0 0px 0px 2px inset;
}

button.btn-submit:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(45, 106, 79, 0.7) 0 0px 0px 40px inset;
}
