@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Rubik:wght@300&display=swap");
* {
  user-select: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
@media print {
  nav {
    display: none;
  }
  body {
    visibility: hidden;
  }
  .content-view .table-container,
  .content-view .table-container * {
    visibility: visible;
  }
  .bg-content-view th,
  .bg-content-view td{
    border: 1px solid;
  }
}
body {
  background: #fff;
  overflow: hidden;
}

nav{
  width: max-content;
  border-radius: 10px ;
  background-color: #d8f3dc;
  box-shadow: 0px 0px 30px #d8f3dc;
  height: 100vh;
}
nav div{
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
nav .logo img{
  cursor: pointer;
  margin-top: 20px;
  width: 50px;
}
.public{
  padding-bottom: 80px !important;
}
.admin{
  position: absolute;
  bottom: 0;
  border-top: 1px solid #4b4b4b;
}
nav a{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'poppins';
  color: #4b4b4b;
  cursor: pointer;
}
nav i{
  font-size: 20px;
}
nav a:hover, nav .active{
  background-color:#95d5b2 ;
  color: #fff;
}
nav a span{
  z-index: 10000;
  font-size: 15px;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #52b788;
  color: #fff;
  position: absolute;
  left: 150%;
  top: 50%;
  transform-origin: left;
  --scale:0;
  opacity: 0;
  transform: translateY(-59%) scale(var(--scale));
  transition: opacity 0.15s ease, transform 0.15s ease;
}
nav a:hover span{
  --scale:1;
  opacity: 1;
}
nav a span::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: inherit;
  left: 0;
  top: 50%;
  transform: translate(-40%,-50%)rotate(45deg);
}
.container {
  display: flex;
}
.main-content {
  height: 100vh;
  position: relative;
  width: 100%;
  padding: 20px;
}
.header-logo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  bottom: 15px;
  height: 10vh;
  width: 100%;
}
.header-logo .text-logo {
  position: relative;
  font-family: "poppins";
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  color: #4b4b4b;
}
.header-logo .text-logo p {
  letter-spacing: 3px;
}
.header-logo .create-schedule button i {
  margin-right: 3px;
}
.header-logo .create-schedule button a {
  text-decoration: none;
  color: #fff;
}
.header-logo .create-schedule button {
  cursor: pointer;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  background-color: #74c69d;
  font-size: 1em;
  font-weight: 400;
  font-family: "poppins";
  transition: all 0.3s ease;
  position: relative;
  border: 1px solid #74c69d;
}
.header-logo .create-schedule button:hover {
  background-color: rgb(116, 198, 157, 0.8);
  border: 1px solid #4b4b4b;
}
/* dates */
.date input{
  background: transparent;
}
.header-logo .text-logo .date {
  position: absolute;
  left: 300px;
  display: flex;
  align-items: center;
}
.header-logo .text-logo .year-month {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
}
.header-logo .text-logo .year-month #myMonth {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.header-logo .text-logo .year-month input {
  border: none;
  font-family: "montserrat";
}
.header-logo .text-logo #myDay {
  border: none;
  cursor: default;
  font-size: 30px;
  color: #95d5b2;
  font-family: "poppins";
  font-weight: 600;
}
.header-logo .text-logo #myDate {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  text-align: center;
  border: 1px solid #52b788;
  font-family: "poppins";
  font-weight: 600;
  font-size: 20px;
  color: #4b4b4b;
}
/* waray upay na details */
.content-container {
  display: flex;
  gap: 15px;
  height: 85vh;
  width: 100%;
}
.content-container .info-date {
  width: 68vw;
}
/* header info */
.infos-container {
  display: flex;
  gap: 25px;
  width: 100%;
}
.infos-container .infos-wrapper {
  height: 150px;
  width: 25%;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  font-family: "montserrat";
  overflow: hidden;
  transition: 0.3s;
}
.infos-container .infos-wrapper:hover {
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
}
.infos-container img {
  height: 80px;
  float: right;
  position: relative;
  bottom: 10px;
}
.infos-container .infos-wrapper .info {
  font-size: 40px;
  font-weight: 600;
  color: #4b4b4b;
  position: relative;
  left: 30px;
  top: 25px;
}
.infos-container .infos-wrapper .info-title {
  margin: 10px 0 0 15px;
  position: relative;
  font-size: 15px;
}
.infos-container .infos-wrapper .info-title:hover i {
  display: contents;
}
.infos-container .infos-wrapper .info-title i {
  display: none;
  color: #747474;
}
.infos-container .infos-wrapper .info-title a {
  text-decoration: none;
  color: #081c15;
}
/* pie */
.pieUser-container{
  display: flex;
  flex-direction: column;
  width: 22vw;
  gap: 10px;
}
.pie-container{
  background: white;
  border: 1px solid #dddddd;
  height: 48%;
  width: 100%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pie-container .pie-header{
  display: flex;
  padding: 5px 10px;
  gap: 5px;
  position: absolute;
  z-index: 100;
  font-family: 'poppins';
  align-items: center;
  pointer-events: none;
  top: 10px;
  left: 5px;
}
.pie-container .pie-icon{
  height: 40px;
  width: 40px;
  font-size: 20px;
  background: #52b788;
  color: #fff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.pie-container .pie-text p{
  color: #666;
  font-size: 10px;
  margin-top: -5px;
}
.pie-container .pie-text span{
  font-weight: 700;
}
.pie-container .pie-img img{
  height: 90px;
  width: 90px;
  position: absolute;
  opacity: 0.5;
}
/* table */
.pieUser-container .user{
  background: white;
  border: 1px solid #dddddd;
  width: 100%;
  height: 50%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'poppins';
  padding: 10px;
}
.pieUser-container .user .user-wrapper{
  background: #eee;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}
.pieUser-container .user .user-wrapper .close-user{
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.pieUser-container .user img{
  width: 80px;
}
.pieUser-container .user .user-logo::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #52b788;
  border-radius: 50%;
  margin-top: 55px;
  margin-left: -20px;
  z-index: 100;
  border: 1px solid #fff;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.05);
}
.pieUser-container .user span{
  font-size: 20px;
  font-weight: 500;
  color: #4b4b4b;
  margin-top: -5px;
}
.pieUser-container .user-btn button{
  border: 1px solid #52b788;
  border-radius: 5px;
  background: #52b788;
  color: #fff;
  padding: 3px 40px;
  font-family: 'poppins';
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pieUser-container .user-btn button:hover{
  border: 1px solid #4b4b4b;
  background: #74c69d;
}
.pieUser-container .user table th{
  font-size: 13px;
}
.pieUser-container .user table td{
  font-size: 10px;
}
.pieUser-container .table-container::-webkit-scrollbar {
  width: 6px;
}
.pieUser-container .table-container::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 2px;
}
.pieUser-container .user table {
  width: 100%;
  border-collapse: collapse;
}
.pieUser-container table th,
.pieUser-container table td {
  padding: 8px 2px;
  text-align: center;
  border-radius: 1px;
}

.pieUser-container table th {
  position: sticky;
  top: 0;
  background: #2d6a4f;
  color: #fff;
}
.table tbody tr:nth-of-type(even) {
  background-color: #eee;
}
.pieUser-container .table-container {
  max-height: 45vh;
  overflow-y: scroll;
  margin-top: 5px;
}
.pieUser-container .table-wrapper .switch-user{
  padding: 3px 20px;
  font-family: 'montserrat';
  border: 1px solid #74c69d;
  cursor: pointer;
  background: #74c69d;
  color: #fff;
  border-radius: 3px;
  transition: 0.1s;
}
.pieUser-container .table-wrapper .switch-user:hover{
  border: 1px solid #4b4b4b;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.09);
}
/* table */
.schedule-table {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.schedule-table .table-header {
  display: flex;
  font-family: "poppins";
  justify-content: space-between;
  align-items: center;
}
.schedule-table .table-header span {
  font-size: 30px;
  font-weight: 600;
  color: #4b4b4b;
}
.schedule-table .table-container {
  max-height: 50vh;
  overflow-y: scroll;
  margin-top: 5px;
}
.schedule-table .table-container::-webkit-scrollbar {
  width: 6px;
}
.schedule-table .table-container::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 5px;
}
.schedule-table table {
  width: 100%;
  font-family: "montserrat";
  border-collapse: collapse;
}
.schedule-table table th,
.schedule-table table td {
  padding: 8px;
  text-align: center;
  border-radius: 1px;
}

.schedule-table table th {
  position: sticky;
  top: 0;
  background: #2d6a4f;
  color: #fff;
}
.schedule-table table td {
  font-size: 13px;
}
.table tbody tr:nth-of-type(even) {
  background-color: #eee;
}
/* search function for table */
.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: rgb(235, 235, 235);
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: rgb(200, 200, 200);
  box-shadow: 0 0 0 5px rgb(183, 228, 199);
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s,
    background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: rgb(235, 235, 235);
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -32px;
  color: white;
  cursor: pointer;
}

/* popout logout */
.bg-content-logout {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.content-logout {
  height: 310px;
  width: 420px;
  background-color: #fff;
  z-index: 100;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.bg-content-logout .content-logout .shs-logo {
  top: 65px;
  position: absolute;
  left: -50px;
  height: 170px;
  z-index: -10;
  opacity: 0.2;
}

.bg-content-logout .header-img img {
  bottom: 75px;
  position: absolute;
  right: -50px;
  height: 170px;
  z-index: -10;
  opacity: 0.2;
}
.bg-content-logout .header-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "poppins";
  z-index: 100;
}
.bg-content-logout .header-text span {
  font-family: "poppins";
  font-weight: 600;
  font-size: 30px;
  color: #4b4b4b;
}

.bg-content-logout .btn {
  position: absolute;
  bottom: 30px;
  width: 80%;
  justify-content: space-between;
  display: flex;
}
.bg-content-logout .btn button {
  width: 100px;
  height: 33px;
  border-radius: 5px;
  font-family: "montserrat";
  font-weight: 500;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.bg-content-logout .btn .yesBtn {
  box-shadow: 0px 0px 30px rgb(255, 143, 163, 0.5);
  border: 1px solid #ff8fa3;
  background: #fff;
}
.bg-content-logout .btn .yesBtn:hover {
  background: #ff8fa3;
  color: #fff;
}
.bg-content-logout .btn .noBtn:hover {
  background: #52b788;
  color: #fff;
}
.bg-content-logout .btn .noBtn {
  box-shadow: 0px 0px 30px rgb(82, 183, 136, 0.5);
  border: 1px solid #52b788;
  background: #fff;
}
.table-nav button {
  cursor: pointer;
  margin-left: 10px;
  padding: 2px 8px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #52b788;
  font-family: "poppins";
  font-size: 12px;
  font-weight: 500;
  color: #4b4b4b;
  transition: 0.3s;
}
.table-nav button:hover {
  opacity: 0.6;
}
/* modal for viewing */
.bg-content-view{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  display: none;
}
.bg-content-view .content-view {
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  background-color: #fff;
  z-index: 100;
  border-radius: 20px;
  position: absolute;
  padding: 20px;
}

.bg-content-view .content-view .close-view{
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  color: #c66;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px;
  right: 30px;
  background: #fff;
  transition: all 0.1s ease-in;
}
.bg-content-view .content-view .close-view:hover{
  background: #c66;
  color: #fff;
}
.bg-content-view .content-view input{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  font-family: "montserrat";
  font-size: 13px;
  padding: 10px 15px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid #dddddd;
}
.bg-content-view .content-view .inputs-container{
  display: flex;
  gap: 10px;
  font-family: "poppins";
  font-size: 13px;
  margin: 30px;
  align-items: center;
  justify-content: center;
}
.bg-content-view .content-view .inputs{
  display: flex;
  flex-direction: column;
}
.bg-content-view .content-view .button-container{
  gap: 10px;
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.bg-content-view .content-view .button-container button{
  cursor: pointer;
  padding: 5px 17px;
  background: transparent;
  border-radius: 3px
}
.bg-content-view .content-view .button-container button:hover{
  opacity: 0.6;
}
.bg-content-view .content-view .button-container .delete{
  border: 1px solid #c66;
  color: #c66;
}
.bg-content-view .content-view .button-container .edit{
  border: 1px solid #52b788;
  color: #52b788;
}
.bg-content-view .content-view .button-container .print{
  border: 1px solid #666;
  color: #666;
}
.view-open-modal{
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  color: #666;
  border: 1px solid #666;
  font-family: 'poppins';
  background-color: transparent;
  transition: all 0.2s ease-in;
}
.view-open-modal:hover{
  border: 1px solid #52b788;
  color: #52b788;
}
/* table */
.schedules-table{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.schedules-table .table-header {
  display: flex;
  font-family: "poppins";
  justify-content: space-between;
  align-items: center;
}
.schedules-table .table-header span {
  font-size: 30px;
  font-weight: 600;
  color: #4b4b4b;
}
.schedules-table .table-container {
  max-height: 350px;
  overflow-y: scroll;
  margin-top: 5px;
}
.schedules-table .table-container::-webkit-scrollbar {
  width: 6px;
}
.schedules-table .table-container::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 5px;
}
.schedules-table table {
  width: 100%;
  font-family: "montserrat";
  border-collapse: collapse;
}
.schedules-table table th,
.schedules-table table td {
  padding: 8px;
  text-align: center;
  border-radius: 1px;
}

.schedules-table table th {
  position: sticky;
  top: 0;
  background: #2d6a4f;
  color: #fff;
}
.schedules-table table td {
  font-size: 13px;
}
.schedules-table  .table tbody tr:nth-of-type(even) {
  background-color: #eee;
}
.schedules-table  .table .sort{
  cursor: pointer;
}
.schedules-table  .table .sort i{
  margin-left: 2px;
  font-size: 12px;
}
.schedules-table  .table .sort:hover{
  opacity: 0.5;
}
/* search function for table */
.searchSchedule {
  margin-left: auto;
}
.searchSchedule input {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  font-family: "montserrat";
  font-size: 13px;
  padding: 10px 15px;
  width: 280px;
  height: 33px;
  border-radius: 10px;
  border: 0.5px solid #dddddd;
}
.searchSchedule i {
  position: relative;
  right: 28px;
  pointer-events: none;
  color: #4b4b4b;
}
.bg-content-tutorial {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 10000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.content-tutorial {
  height: 600px;
  width: 800px;
  background-color: #fff;
  z-index: 100;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

}
.content-tutorial .tutorialPage{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.content-tutorial .tutorialPage .progressBar{
  position: absolute;
  top: 20px;
  display: flex;
  gap: 15px;
}
.content-tutorial .tutorialPage .progressBar .progress{
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #dddddd;
}
.content-tutorial .tutorialPage .progressBar .progress.activePage{
  height: 10px;
  width: 10px;
  background: #4b4b4b;
}

.content-tutorial .tutorialPage .progressBar .progress .progressCreateWrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 13px;
  align-items: center;
  justify-content: center;
}
.content-tutorial .tutorialPage .progressBar .progress .progressCreate{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #dddddd;
}
.content-tutorial .tutorialPage .progressCreateWrapper  .progressCreate.activePageCreate{
  height: 7px;
  width: 7px;
  background: #4b4b4b;
}
.content-tutorial .tutorialPage .btn-tutorial{
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 50px;
}
.content-tutorial .tutorialPage .btn-tutorial button{
  height: 30px;
  width: 90px;
  border: 1px solid #081c15;
  border-radius: 3px;
  font-family: 'poppins';
  background: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.content-tutorial .tutorialPage .btn-tutorial button:hover{
  background: #081c15;
  color: #fff;
}
.content-tutorial .tutorialPage .tutorialTitle{
  font-family: 'poppins';
  font-size: 20px;
  color: #081c15;
  font-weight: 600;
  position: absolute;
  top: 70px;
  z-index: 10;
}
.content-tutorial .tuts-content{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.content-tutorial .tutorial-info{
  font-family: 'poppins';
  position: absolute;
  bottom: 80px;
  margin: 0 50px 0px 50px;
  font-size: 15px;
}
.content-tutorial .tutorial-info span{
  color: #52b788;
  font-weight: 600;
}